
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
            <td>date</td>
            <td>result</td>
            <td>user sign</td>
            <td>user steps</td>
            </tr>
        </thead>

        @foreach (sbs_web_app.Models.Stats a in ViewBag.listStats)
        {
            <tr>
                <td>@a.date</td>
                <td>@a.result</td>
                <td>@a.userSign</td>
                <td>@a.userSteps</td>
            </tr>
        
        }
        
    </table>
    <b>Average win: @ViewBag.avgWin %</b>
</div>